.numbers_window {
    background-color: palegreen;
}

button {
    background-color: green;
    border: 2px solid white;
    padding: 5px 20px;  
    color: white;
    font-weight: 500;
}

button:active {
    border-top-color: black;
    border-left-color: black;
    border-right-color: gray;
    border-bottom-color: gray;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
    color: green;
    font-weight: 900;
    text-shadow: 0 0 20px palegreen;
}

h3, #my_numbers {
    color: green;
    font-weight: 500;
}

